<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= fruit.name %> </title>
</head>
<body>
    <h1>Edit <%= fruit.name %> </h1>
    <form>
        <label for="name">Name:</label>
        <!-- value is what is pre-populated in the text box -->
        <input type="text" value="<%= fruit.name %>" name="name" id="name" />

        <label for="isReadyToEat">Ready to eat?</label>
        <input 
            type ="checkbox" 
            <% if (fruit.isReadyToEat){ %>
             checked    
            <%}%>
            
            />
        <!-- update button text -->
         <button type="submit">Update Fruit</button>
    </form>
    <a href="/fruits">Back to Fruits</a>
</body>
</html>